<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body box-wrap laptop-bg">
          <h4><b>Welcome to Deutsche {{username}} !</b></h4>
          <p>
            We offer you actions like Transfer of money, 
            <br>Checkbook request, Deposit,
            Withdraw.
          </p>
          <br />
          <p> This is your Saving <span class="fw-bold">A/C NO: {{ savingAcc }} </span> </p>
          <p>
            <a class="btn btn-info" href="/deposit"><i class="fa-solid fa-dollar"></i> Deposit Money</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body box-wrap">
          <div class="box-title transfer"><i class="fa-solid fa-money-bill-transfer"></i> Invoice Upload</div>
          <!-- <app-upload></app-upload> -->
          <mat-form-field>
            <div>
              <mat-toolbar>
                <!-- Display files names [(ngModel)]="fileAttr"-->
                <input [(ngModel)]="fileAttr" matInput readonly name="name" />
                <!-- Browse Button -->
                <button mat-flat-button color="primary">Browse File</button>
              </mat-toolbar>
              <!-- Fetch selected filed on change -->
              <input
                type="file"
                #fileInput
                id="uploadFile"
                (change)="uploadFileEvt($event)"
                name="uploadFile"
                multiple="multiple"
                accept="image/*"
              />
            </div>
          </mat-form-field>
          <p class="text-center">
            <br/>
            <button class="btn btn-warning" (click)="uploadFile()">Upload</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body box-wrap">
          <div class="box-title balance"><i class="fa-solid fa-hand-holding-dollar"></i> Payment Summary</div>
          <!-- <app-psummary></app-psummary> -->
          <!-- <div class="box-info"> </div> -->
          <!-- <p class="text-center">
           This your saving account balace, Deposit money to increase Savings!
          </p> -->
          <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-6">
      <div class="card">
        <div class="card-body box-wrap">
          <div class="box-title withdrawl"><i class="fa-solid fa-magnifying-glass-dollar"></i> Total Withdrawl</div>
          <div class="box-info"> ₹ {{ transaction.withdrawl }}.00</div>
          <p class="text-center">
            <br/>
            <a class="btn btn-danger" href="/withdraw">Withdraw Money</a>
          </p>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-3">
      <div class="card">
        <div class="card-body box-wrap">
          <div class="box-title deposit"><i class="fa-solid fa-sack-dollar"></i> Total Deposit </div>
          <div class="box-info"> ₹ {{ transaction.deposit }}.00</div>
          <p class="text-center">
            <br/>
            <a class="btn btn-info" href="/deposit">Deposit Money</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body box-wrap">
          <div class="box-title transaction"><i class="fa-solid fa-receipt"></i> Total Transaction</div>
          <div class="box-info"> ₹ {{transaction.total}}.00</div>
          
          <p class="text-center" style="font-size: 1.5em;">
            {{transaction.count}} Transcations.
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>