#userSession {
  float: right;
}

.center {
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}

#userSession {
  float: right;
}

.center {
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}

body .infobox {
  font-weight: 400;
  font-size: 20px;
  color: #323232;
  height: auto;
  padding: 2%;
  background-color: #f1ecec;
  border: 1px solid #f5f5f5;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #f5f5f5;
  box-shadow: 0px 0px 10px 0px #f5f5f5;
  margin: 10rem auto;
  width: 35em;
}

.box-wrap {
  min-height: 250px;
}

.box-wrap a {
  color: #fff;
}

.laptop-bg {
  background-image: url('../../assets/man-with-laptop-light.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

.box-title {
  font-size: 1.2em;
  color: #333;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
}

.box-info {
  font-size: 1.825rem;
  color: #000;
  padding: 15px 10px;
  text-align: center;
  margin: 10px 0px;
  border: 1px dashed #ccc;
  border-left: none;
  border-right: none;
}

.transfer {
  color: #f39c12;
}

.withdrawl {
  color: #e74c3c;
}

.deposit {
  color: #0dcaf0;
}

.balance {
  color: #696cff;
}

.transaction {
  color: #2c3e50;
}

.mat-form-field {
  margin: 40px 0;
  width: 500px !important;
}
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}
.mat-toolbar-single-row button {
  width: 200px;
}
.mat-form-field {
  width: 100%;
}
#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;    
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
